<header class="header">
  <!--logo영역-->
  <h1 class="logo">
    <a href="../index.html">
      <img class="logoImg" src="../img/goorm_logo.png" alt="logo" />
    </a>
  </h1>

  <!--navi영역-->
  <nav class="navi">
    <ul style="list-style-type: none">
      <li><a href="../index.html">HOME</a></li>
      <li class="main-menu">
        <a href="#">전체상품</a>
        <ul class="sub-menu">
          <li><a href="#">전체상품</a></li>
          <li><a href="#">신상품</a></li>
          <li><a href="#">Best</a></li>
          <li><a href="#">할인상품</a></li>
        </ul>
      </li>
      <li class="main-menu">
        <a href="#">카테고리</a>
        <ul class="sub-menu">
          <li><a href="#">테이블/책상</a></li>
          <li><a href="#">의자/쇼파</a></li>
          <li><a href="#">서랍/수납장</a></li>
          <li><a href="#">진열장/책장</a></li>
          <li><a href="#">가벽/파티션</a></li>
          <li><a href="#">조명</a></li>
        </ul>
      </li>
      <li class="main-menu">
        <a href="#">브랜드스토리</a>
        <ul class="sub-menu">
          <li><a href="#">브랜드 소개</a></li>
          <li><a href="#">제작 과정</a></li>
        </ul>
      </li>
      <li class="main-menu">
        <a href="#">고객센터</a>
        <ul class="sub-menu">
          <li><a href="#">공지사항</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">1:1 문의</a></li>
          <li><a href="#">배송 안내</a></li>
          <li><a href="#">반품 · 환불 안내</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <!--util 영역-->
  <ul class="util">
    <li><a href="../pages/login.html">로그인</a></li>
    <li><a href="../pages/profile.html">프로필</a></li>
    <li>
      <label class="themeToggle">
        <input type="checkbox" id="themeToggle" />
        <span class="toggleSlider"></span>
      </label>
    </li>
  </ul>
</header>
